/* style.css */

/*
* ~~~~~~~~~~~~~~~~~~~~
* Element Selectors
* ~~~~~~~~~~~~~~~~~~~~
*/

/* ~~~~~ CSS Variables (aka. Custom Properties) */
:root {
  /* ~~~~~ Color Scheme */
  --mockup-body-background-color:        white;

  --mockup-menu-color:                   #383838;
  --mockup-menu-background-color:        #F0F0F0;
  --mockup-menu-border-color:            #ADADAD;

  --mockup-section-1-background-color:  #5728BC;
  --mockup-section-1-gap:               2em;
}

body {
  background-color: var(--mockup-body-background-color);
}

a {
  text-decoration-line: none;  /* Remove underline from menu links */
}

/*
* ~~~~~~~~~~~~~~~~~~~~
* Class Selectors
* ~~~~~~~~~~~~~~~~~~~~
*/
.nav-menu {
  display:           flex;
  justify-content:   flex-end; /* Right align its flex/menu/list items */
  align-items:       center;   /* Center its flex items vertically */

  color:             var(--mockup-menu-color);

  & > li {
    /* Add a bit of space around each list item */
    padding-left:     0.5rem;
    padding-right:    0.5rem;

    list-style-type: none; /* Disable the bullet point next to each list item */

    &:first-child {
      margin-right:  auto; /* Push the fist list item to the far-left of its container */
      padding:       0.5em;
      border:        1px solid var(--mockup-menu-border-color);
      border-radius: 0; /* Disable the browser default backed-in border radius (if any) */
    }

    &:has(a:hover) {
      background-color: var(--mockup-menu-background-color);
    }
  }

  & a {
    color:                var(--mockup-menu-color);
  }
}

.flex-container {
  display:         flex;
  justify-content: center;
  align-items:     center;
  flex-wrap:        wrap;
  gap:              var(--mockup-section-1-gap);

  padding:          3em;

  background-color: var(--mockup-section-1-background-color);

  & > * {
    flex: 0 1 calc(40% - (var(--mockup-section-1-gap) / 2));
  }

  .flex-item-image {
    /* Force the image to respect the flex basis */

    /* Take full width of the flex item */
    width:      100%;
    /* Maintain aspect ratio */
    height:    auto;
    /* Prevent overflow */
    max-width: 100%;
    /* ‼️ Allow the flex item to shrink below the image's width */
    min-width: 0;
    /* Fill the flex item and maintain while maintaining its aspect ratio */
    object-fit: cover;
  }

  article {

    h2 {
      display:          inline; /* Stick with the mockup but not recommended IMO! */

      /* Replace each newline found in the HTML h2 tag with a line break */
      white-space:      pre-line;

      background-color: #013566;
      color:            #EFF3F6;
    }

    & > p {
      color:            #f2eff9;

      a {
        padding:           0.8em;
        border-radius:     0.8em;

        background-color: #e75266;
        color:            #fbe8ea;
      }
    }
  }
}
